<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href='./images/weather.png'>
  <link rel='stylesheet' href="./css/styles.css">
  <script src='./js/app.js'></script>
</head>

<body>
  <h1> {{>header}}</h1>
  {{!-- <h1>Hi {{title}} !!</h1> --}}
  <p>We are using mapbox and weather stack API </p>
  <img src="./images/50999740_1929380053827827_5943333043639943168_o.jpg" alt="Girl in a jacket" />
  {{>footer}}
</body>

</html>