<!DOCTYPE html>
<html>

<head>
     <title>error</title>
       <link rel="icon" href='./images/weather.png'>
    <link rel='stylesheet' href="./css/styles.css">
    <script src='./js/app.js'></script>
</head>

<body>
  <h1> {{>header}}</h1>
    {{!-- <img src="./images/OIP.jpg" alt="Girl in a jacket" /> --}}
 <h1> <p>  {{>error}}</p></h1>
  {{>footer}}
</body>

</html>