<!DOCTYPE html>
<html>

<head>
  <title>weather</title>
  <link rel="icon" href='./images/weather.png'>
  <link rel='stylesheet' href="./css/styles.css">
  <script src='./js/app.js'></script>
</head>
{{!-- {{>header}} --}}

<body>
  {{!-- <h1>{{title}} Page</h1> --}}
  <h1> {{>header}}</h1>
 
  {{!-- <img src="./images/107085000_3006357492924644_1087560548244041913_n.jpg" alt="Girl in a jacket" /> --}}
  {{>footer}}
</body>

</html>